<%= form_for(@seance) do |f| %>
  <% if @seance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seance.errors.count, "error") %> prohibited this seance from being saved:</h2>

      <ul>
      <% @seance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if can? :manage, Seance %>
        <span class="glyphicon glyphicon-film"></span> <%= f.label :film_id, :value => 'Film' %><br>
        <%=  select("seance", "film_id", Film.all.order(created_at: :asc).collect {|film| [ film.titrefilm, film.id ] }) %>
    <% else %>
      <h3><span class="glyphicon glyphicon-film"></span> <%= raw @seance.film.titrefilm.upcase %></h3>
    <% end %>
  </div>

  <div class="field">
      <% versions = ["VOST", "VF", "VOST/2D", "VOST/3D", "VF/2D", "VF/3D", "2D", "3D"] %>
      <% if can? :manage, Seance %>
        <span class="glyphicon glyphicon-info-sign"></span> <%= f.label :version, :value => 'Version' %><br>
        <%= f.select :version, versions, include_blank: true %>
      <% else %>
      <h3><%= @seance.version %></h3>
    <% end %>
  </div>

  <div class="field">
      <% if can? :manage, Seance %>
        <span class="glyphicon glyphicon-time"></span> <%= f.label :horaire, :value => 'Date et horaire' %><br>
        <%= f.datetime_select :horaire %>
      <% else %>
      <h3><span class="glyphicon glyphicon-time"></span> <%= l @seance.horaire, format: :very_long %></h3>
      <% end %>
  </div>

  <div class="field">
        <% if can? :manage, Seance %>
          <span class="glyphicon glyphicon-home"></span> <%= f.label :village_id, :value => 'Lieu' %><br>
          <%= f.select :village_id, Village.all.collect {|village| [ village.commune + " " + village.salle, village.id ] } %>
        <% else %>
          <h3><span class="glyphicon glyphicon-home"></span> <%= @seance.village.commune.upcase %> <%= @seance.village.salle %></h3>
        <% end %>
    </div>

    <div class="field">
        <% extras = ["Séance scolaire","Ciné-Débat", "Ciné-Goûter", "Annulée"] %>
        <% if can? :manage, Seance %>
          <span class="glyphicon glyphicon-info-sign"></span> <%= f.label :extras, :value => 'extras' %><br>
          <%= f.select :extras, extras, include_blank: true %>
        <% else %>
          <h3><span class="glyphicon glyphicon-info-sign"></span> <%= @seance.extras %></h3>
        <% end %>
    </div>

    <div class="field">
            <% annulation = ["Annulée"] %>
            <% if can? :manage, Seance %>
              <span class="glyphicon glyphicon-warning-sign"></span> <%= f.label :annulee, :value => 'Annulation' %><br>
              <%= f.select :annulee, annulation, include_blank: true %>
            <% else %>
              <h3><span class="glyphicon glyphicon-warning-sign"></span> <%= @seance.annulee %></h3>
            <% end %>
        </div>

    <% users = User.all.users_alphabet.map{|user| user.prenom } %>

  <div class="field">
    <span class="glyphicon glyphicon-facetime-video"></span> <%= f.label :projection, :value => 'Projection' %><br>
    <%= f.select :projection, users, include_blank: true %>
  </div>

  <div class="field">
    <span class="glyphicon glyphicon-briefcase"></span> <%= f.label :caisse, :value => 'Caisse' %><br>
    <%= f.select :caisse, users, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :commentaire, :value => 'Commentaire' %><br>
    <%= f.text_area :commentaire, :placeholder => "#{current_user.prenom.capitalize} :", autofocus: true, :maxlength => 400  %>
  </div>

  <h2>Les Entrées</h2>

  <div class="field">
    <%= f.label :billets_adultes, :value => 'Billets adultes' %><br>
    <%= f.number_field :billets_adultes, in: 0..500, step: 0 %>
  </div>

  <div class="field">
    <%= f.label :billets_enfants, :value => 'Billets enfants' %><br>
    <%= f.number_field :billets_enfants, in: 0..500, step: 0 %>
  </div>

  <div class="field">
    <%= f.label :billets_scolaires, :value => 'Billets scolaires' %><br>
    <%= f.number_field :billets_scolaires, in: 0..500, step: 0 %>
  </div>

  <div class="actions">
    <input type="submit" class="btn btn-lg btn-warning" value="Valider" />
  </div>
  <% end %>

</div>