<center>
<h1><strong>Editer une Séance</strong></h1>
<div class="container">
	<%= render 'form' %>
	<div class="actions">
	<%= link_to 'Voir', @seance, :class => "btn btn-primary active" %>
  <%= link_to 'Retour à la liste des Séances', seances_path(:lieu => "tous les lieux"), :class => "btn btn-success active" %> <strong>pour Tous les lieux</strong>
  </div>
	<% if @seance.village.salle.downcase == "vernoux" || @seance.village.salle.downcase == "lamastre" || @seance.village.salle.downcase == "chalencon "%>
  <%= link_to 'Retour à la liste des Séances', seances_path(:lieu => @seance.village.salle.downcase), :class => "btn btn-success active" %> de <strong><%= @seance.village.salle.upcase %></strong>
  <% end %>
</div>
</center>
<br>
<script type="text/javascript">
    $(document).ready(function() {
        $('#datetimepicker1').datetimepicker({
        	initialDate: '<%= l @seance.horaire %>',
        	hide: true,
            inline: true,
            sideBySide: true,
            format: 'DD/MM/YYYY HH:mm',
            locale: 'fr'
        });
    });
</script>