    <center><h1><strong>Nombre de séances et d'entrées'</strong></h1></center>
</div>
<div class="container">
  <div class="row">
  <h2>On choisit ici combien les jours à prendre en compte pour les séances</h2>
  <h3>en gardant bien ce format <strong>"Année-Mois-Date"</strong></h3>
    <div class="pull_right range_query">
    <%= form_tag entrees_path, method: :get do %>
     <%= text_field_tag 'search[date_from]', @search.date_from %>
     <%= text_field_tag 'search[date_to]',  @search.date_to %>
     <%= submit_tag 'Chercher', class: 'btn search-button' %>
    <% end %>
    </div>
  </div>

<center><h1><strong>Résultats</strong></h1></center>
<h3><strong>Calcul des séances en tenant compte de ces dates :</strong></h3>
<h4>Séances compris entre le <strong><%= l @search.date_from.to_date, format: :middle_long %></strong> et le <strong><%= l @search.date_to.to_date, format: :middle_long %></strong></h4>
</div>
<% date_range = @search.date_from.to_date..@search.date_to.to_date %>

<div class="container">
  <center><h2><strong>Comptes</strong></h2></center>
  <h3>Il y a eu <strong><%= @stats.films_per_daterange %></strong> film(s) pour cette période avec <strong><%= @stats.seances_range.length %></strong> séance(s) et <strong><%= @stats.seances_range_annulee.length %></strong> séance(s) annulée(s).</h3>

     <center><h1><strong>Les entrées</strong></h1></center>

  <center><h2><strong>Par Classifications</strong></h2></center>

    <% seances_films_jeune_public = @stats.seances_per_film_classification("Jeune Public") %>
      <h4>Pour <strong>Jeune Public</strong> : <strong><%= seances_films_jeune_public.length %></strong> séance(s) pour cette période. <strong>Entrées:</strong>  Adultes: <strong><%= seances_films_jeune_public.sum("billets_adultes") %></strong>/ Enfants: <strong><%= seances_films_jeune_public.sum("billets_enfants") %></strong> / Scolaires: <strong><%= seances_films_jeune_public.sum("billets_scolaires") %></strong> / Total: <strong><%= seances_films_jeune_public.sum("total_billets") %></strong></h4>

    <% seances_films_patrimoine_repertoire = @stats.seances_per_film_classification("Patrimoine et Répertoire") %>
      <h4>Pour <strong>Patrimoine et Répertoire</strong> : <strong><%= seances_films_patrimoine_repertoire.length %></strong> séance(s) pour cette période. <strong>Entrées:</strong> Adultes: <strong><%= seances_films_patrimoine_repertoire.sum("billets_adultes") %></strong> / Enfants: <strong><%= seances_films_patrimoine_repertoire.sum("billets_enfants") %></strong> / Scolaires: <strong><%= seances_films_patrimoine_repertoire.sum("billets_scolaires") %></strong> / Total: <strong><%= seances_films_patrimoine_repertoire.sum("total_billets") %></strong></h4>

    <% seances_films_recherche_decouverte = @stats.seances_per_film_classification("Recherche et Découvertes") %>
      <h4>Pour <strong>Recherche et Découvertes</strong> : <strong><%= seances_films_recherche_decouverte.length %></strong> séance(s) pour cette période. <strong>Entrées:</strong> Adultes: <strong><%= seances_films_recherche_decouverte.sum("billets_adultes") %></strong> / Enfants: <strong><%= seances_films_recherche_decouverte.sum("billets_enfants") %></strong> / Scolaires: <strong><%= seances_films_recherche_decouverte.sum("billets_scolaires") %></strong> / Total: <strong><%= seances_films_recherche_decouverte.sum("total_billets") %></strong></h4>

    <% seances_films_art_essai = @stats.seances_per_film_classification("Art et Essai") %>
      <h4>Pour <strong>Art et Essai</strong> : <strong><%= seances_films_art_essai.length %></strong> séance(s) pour cette période. <strong>Entrées:</strong> Adultes: <strong><%= seances_films_art_essai.sum("billets_adultes") %></strong> / Enfants: <strong><%= seances_films_art_essai.sum("billets_enfants") %></strong> / Scolaires: <strong><%= seances_films_art_essai.sum("billets_scolaires") %></strong> / Total: <strong><%= seances_films_art_essai.sum("total_billets") %></strong></h4>

    <% seances_films_classees = @stats.seances_per_film_classification_all %>
      <h4>En tout pour <strong>Toutes les classifications</strong> : <strong><%= seances_films_classees.length %></strong> séance(s) pour cette période. <strong>Entrées:</strong> Adultes: <strong><%= seances_films_classees.sum("billets_adultes") %></strong> / Enfants: <strong><%= seances_films_classees.sum("billets_enfants") %></strong> / Scolaires: <strong><%= seances_films_classees.sum("billets_scolaires") %></strong> / Total: <strong><%= seances_films_classees.sum("total_billets") %></strong></h4>
      <h4>Pour ce(s) <strong><%= @stats.films_seances_classees.length %></strong> Film(s) :</h4>
      <% @stats.films_seances_classees.each do |film| %>
     "<%= film.titrefilm %>";
      <% end %>

    <center><h2><strong>Par Distribution ADRC</strong></h2></center>
    <h3><strong><%= t('classified', count: @stats.films_adrc_classee.length) %></strong></h3>
    <h4><strong><%= @stats.films_adrc_classee.length %></strong> Film(s) distribué(s) par ARDC ayant eu <strong><%= @stats.seances_adrc_classee.length %></strong> séance(s), avec pour <strong>Entrées:</strong>  Adultes: <strong><%= @stats.seances_adrc_classee.sum("billets_adultes") %></strong>, Enfants: <strong><%= @stats.seances_adrc_classee.sum("billets_enfants") %></strong>, Scolaires: <strong><%= @stats.seances_adrc_classee.sum("billets_scolaires") %></strong>, Total: <strong><%= @stats.seances_adrc_classee.sum("total_billets") %></strong>.</h4>
       <% @stats.films_adrc_classee.each do |film| %>
       "<%= film.titrefilm %>";
       <% end %>

    <h3><strong>Pour tous les films de cette période</strong></h3>
    <h4><strong><%= @stats.films_adrc.length %></strong> Film(s) distribué(s) par ARDC ayant eu <strong><%= @stats.seances_adrc.length %></strong> séance(s), avec pour <strong>Entrées:</strong> Adultes: <strong><%= @stats.seances_adrc.sum("billets_adultes") %></strong>, Enfants: <strong><%= @stats.seances_adrc.sum("billets_enfants") %></strong>, Scolaires: <strong><%= @stats.seances_adrc.sum("billets_scolaires") %></strong>, Total: <strong><%= @stats.seances_adrc.sum("total_billets") %></strong></h4>
      <% @stats.films_adrc.each do |film| %>
   <% if film.seances.present? %>
      "<%= film.titrefilm %>";
       <% end %>
       <% end %>

    <center><h2><strong>Résumé Classifications par ordre du Total des entrées</strong></h2></center>
    <table class="table table-responsive table-hover table-striped">
      <thead>
        <tr>
          <th>Films</th>
          <th>Nom (classification)</th>
          <th>Distribution</th>
          <th>Nombres de séances</th>
          <th>Entrées</th>
        </tr>
      </thead>
      <tbody>
      <% @stats.films_seances_classees_order_total.each do |film_classe| %>
        <tr>
            <td><%= film_classe.titrefilm %></td>
            <td><%= film_classe.classifications.map(&:nom_classification)%></td>
            <td><%= film_classe.distribution %></td>
            <td><%= film_classe.seances.length %></td>
            <td>Adultes: <%= film_classe.seances.sum("billets_adultes") %> / Enfants: <%= film_classe.seances.sum("billets_enfants") %> / Scolaires: <%= film_classe.seances.sum("billets_scolaires") %><br>
            Total: <%=  film_classe.seances.sum("total_billets") %>
            </td>
          </tr>
         <% end %>
      </tbody>
    </table>

<center><h2><strong>Résumé Distribution ADRC par ordre du Total des entrées</strong></h2></center>
    <table class="table table-responsive table-hover table-striped">
      <thead>
        <tr>
          <th>Films</th>
          <th>Nom (classification)</th>
          <th>Distribution</th>
          <th>Nombres de séances</th>
          <th>Entrées</th>
        </tr>
      </thead>
      <tbody>
      <% @stats.films_seances_adrc_order.each do |film_adrc| %>
          <% if film_adrc.seances.where(horaire: date_range).present? %>
          <tr>
            <td><%= film_adrc.titrefilm %></td>
            <td><%= film_adrc.classifications.map(&:nom_classification)%></td>
            <td><%= film_adrc.distribution %></td>
            <td><%= film_adrc.seances.length %></td>
            <td>Adultes: <%= film_adrc.seances.sum("billets_adultes") %> / Enfants: <%= film_adrc.seances.sum("billets_enfants") %> / Scolaires: <%= film_adrc.seances.sum("billets_scolaires") %><br>
            Total: <%=  film_adrc.seances.sum("total_billets") %>
            </td>
          </tr>
         <% end %>
        <% end %>
      </tbody>
    </table>
</div>

      <center><h1><strong>Totaux par Lieux</strong></h1></center>
<div class="container">
  <table class="table table-responsive table-hover table-striped">
    <thead>
      <th>
         <tr>
           <th>Lieu</th>
           <th>Nombre de séances</th>
           <th>Billets scolaires</th>
           <th>Billets enfants</th>
           <th>Billets adultes</th>
           <th>Total Billets</th>
         </tr>
       </th>
    </thead>
    <tbody>
      <tr>
        <td class="active">Tous</td>
        <td class="warning"><strong><%= @stats.seances_range.count %></strong></td>
        <td class="info"><strong><%= @stats.seances_range.sum("billets_scolaires") %></strong></td>
        <td class="info"><strong><%= @stats.seances_range.sum("billets_enfants") %></strong></td>
        <td class="info"><strong><%= @stats.seances_range.sum("billets_adultes") %></strong></td>
        <td class="warning"><strong><%= @stats.seances_range.sum("total_billets") %></strong></td>
      </tr>
      <tr>
          <td class="active">Vernoux</td>
          <td class="warning"><strong><%= @stats.seances_film_per_lieu(1).length %></strong></td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(1).sum("billets_scolaires") %></strong></td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(1).sum("billets_enfants") %></strong></td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(1).sum("billets_adultes") %></strong></td>
          <td class="warning"><strong><%= @stats.seances_film_per_lieu(1).sum("total_billets") %></strong></td>
      </tr>
      <tr>
          <td class="active">Lamastre</td>
          <td class="warning"><strong><%= @stats.seances_film_per_lieu(6).length %></strong></td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(6).sum("billets_scolaires") %></strong></td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(6).sum("billets_enfants") %></strong></td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(6).sum("billets_adultes") %></strong></td>
          <td class="warning"><strong><%= @stats.seances_film_per_lieu(6).sum("total_billets") %></strong></td>
      </tr>

      <tr>
          <td class="active">Chalencon</td>
          <td class="warning"><strong><%= @stats.seances_film_per_lieu(3).length %></strong></td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(3).sum("billets_scolaires") %></strong></td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(3).sum("billets_enfants") %></strong></td>
          <td class="info"><strong><%= @stats.seances_film_per_lieu(3).sum("billets_adultes") %></strong></td>
          <td class="warning"><strong><%= @stats.seances_film_per_lieu(3).sum("total_billets") %></strong></td>
      </tr>
      <tr>
          <td class="active">Itinérance</td>
          <td class="warning"><strong><%= @stats.seances_range.count - (@stats.seances_film_per_lieu(1).count + @stats.seances_film_per_lieu(6).count + @stats.seances_film_per_lieu(3).count) %></strong></td>
          <td class="info"><strong><%= @stats.seances_range.sum("billets_scolaires") - (@stats.seances_film_per_lieu(1).sum("billets_scolaires")  + @stats.seances_film_per_lieu(6).sum("billets_scolaires") + @stats.seances_film_per_lieu(3).sum("billets_scolaires")) %></strong></td>
          <td class="info"><strong><%= @stats.seances_range.sum("billets_enfants") - (@stats.seances_film_per_lieu(1).sum("billets_enfants") + @stats.seances_film_per_lieu(6).sum("billets_enfants") + @stats.seances_film_per_lieu(3).sum("billets_enfants")) %></strong></td>
          <td class="info"><strong><%= @stats.seances_range.sum("billets_adultes") - (@stats.seances_film_per_lieu(1).sum("billets_adultes") + @stats.seances_film_per_lieu(6).sum("billets_adultes") + @stats.seances_film_per_lieu(3).sum("billets_adultes")) %></strong></td>
          <td class="warning"><strong><%= @stats.seances_range.sum("total_billets") - (@stats.seances_film_per_lieu(1).sum("total_billets") + @stats.seances_film_per_lieu(6).sum("total_billets") + @stats.seances_film_per_lieu(3).sum("total_billets")) %></strong></td>
      </tr>
      <tr>
          <td class="active">Tournée (Lamastre, Chalencon, Itinérance)</td>
          <td class="warning"><strong><%= @stats.seances_range.count - @stats.seances_film_per_lieu(1).count %></strong></td>
          <td class="info"><strong><%= @stats.seances_range.sum("billets_scolaires") - @stats.seances_film_per_lieu(1).sum("billets_scolaires") %></strong></td>
          <td class="info"><strong><%= @stats.seances_range.sum("billets_enfants") - @stats.seances_film_per_lieu(1).sum("billets_enfants") %></strong></td>
          <td class="info"><strong><%= @stats.seances_range.sum("billets_adultes") - @stats.seances_film_per_lieu(1).sum("billets_adultes") %></strong></td>
          <td class="warning"><strong><%= @stats.seances_range.sum("total_billets") - @stats.seances_film_per_lieu(1).sum("total_billets") %></strong></td>
      </tr>
    </tbody>
  </table>
</div>

    <center><h1><strong>Par Film et ordonné par Total des entrées</strong></h1></center>
<div class="container">
      <% @stats.films_order_total.each do |film| %>
      <% if film.seances.where(horaire: date_range).present? %>
       <% film_seances_semaine = film.seances.where(horaire: date_range, annulee: [nil, ""]) %>
      <% film_vernoux= film_seances_semaine.where(village_id: 1) %>
      <% film_lamastre = film_seances_semaine.where(village_id: 6) %>
      <% film_chalencon = film_seances_semaine.where(village_id: 3) %>

    <center><h3><span class="glyphicon glyphicon-film"></span> <strong><%= film.titrefilm.upcase %></strong></h3></center>
    <% if film.classifications.present? %>
    <center>classé <%= film.classifications.map(&:nom_classification) %></center>
    <% end %>
    <% if film.distribution.present? %>
    <center>distribué par <%= film.distribution %></center>
    <% end %>

  <table class="table table-responsive table-hover table-striped">
    <thead>
      <th>
         <tr>
           <th>Lieu</th>
           <th>Nombre de séances</th>
           <th>Billets scolaires</th>
           <th>Billets enfants</th>
           <th>Billets adultes</th>
           <th>Total Billets</th>
         </tr>
       </th>
    </thead>
    <tbody>
      <tr>
        <td class="active">Tous</td>
        <td class="warning"><strong><%= film_seances_semaine.count %></strong></td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_scolaires") %></strong></td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_enfants") %></strong></td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_adultes") %></strong></td>
        <td class="warning"><strong><%= film_seances_semaine.sum("total_billets") %></strong></td>
      </tr>
      <tr>
        <td class="active">Vernoux</td>
        <td class="warning"><strong><%= film_vernoux.count %></strong></td>
        <td class="info"><strong><%= film_vernoux.sum("billets_scolaires") %></strong></td>
        <td class="info"><strong><%= film_vernoux.sum("billets_enfants") %></strong></td>
        <td class="info"><strong><%= film_vernoux.sum("billets_adultes") %></strong></td>
        <td class="warning"><strong><%= film_vernoux.sum("total_billets") %></strong></td>
      </tr>
      <tr>
        <td class="active">Lamastre</td>
        <td class="warning"><strong><%= film_lamastre.count %></strong></td>
        <td class="info"><strong><%= film_lamastre.sum("billets_scolaires") %></strong></td>
        <td class="info"><strong><%= film_lamastre.sum("billets_enfants") %></strong></td>
        <td class="info"><strong><%= film_lamastre.sum("billets_adultes") %></strong></td>
        <td class="warning"><strong><%= film_lamastre.sum("total_billets") %></strong></td>
      </tr>
      <tr>
        <td class="active">Chalencon</td>
        <td class="warning"><strong><%= film_chalencon.count %></strong></td>
        <td class="info"><strong><%= film_chalencon.sum("billets_scolaires") %></strong></td>
        <td class="info"><strong><%= film_chalencon.sum("billets_enfants") %></strong></td>
        <td class="info"><strong><%= film_chalencon.sum("billets_adultes") %></strong></td>
        <td class="warning"><strong><%= film_chalencon.sum("total_billets") %></strong></td>
      </tr>
      <tr>
        <td class="active">Itinérance</td>
        <td class="warning"><strong><%= film_seances_semaine.count  - (film_vernoux.count  + film_lamastre.count  + film_chalencon.count) %></strong></td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_scolaires") - (film_vernoux.sum("billets_scolaires") + film_lamastre.sum("billets_scolaires") + film_chalencon.sum("billets_scolaires")) %></strong></td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_enfants") - (film_vernoux.sum("billets_enfants")  + film_lamastre.sum("billets_enfants") + film_chalencon.sum("billets_enfants")) %></strong></td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_adultes") - (film_vernoux.sum("billets_adultes") + film_lamastre.sum("billets_adultes") + film_chalencon.sum("billets_adultes")) %></strong></td>
        <td class="warning"><strong><%= film_seances_semaine.sum("total_billets") - (film_vernoux.sum("total_billets") + film_lamastre.sum("total_billets") + film_chalencon.sum("total_billets")) %></strong></td>
      </tr>
      <tr>
        <td class="active">Tournée (Lamastre, Chalencon, Itinérance)</td>
        <td class="warning"><strong><%= film_seances_semaine.count - film_vernoux.count %></strong></td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_scolaires") - film_vernoux.sum("billets_scolaires") %></strong></td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_enfants") - film_vernoux.sum("billets_enfants") %></strong></td>
        <td class="info"><strong><%= film_seances_semaine.sum("billets_adultes") - film_vernoux.sum("billets_adultes") %></strong></td>
        <td class="warning"><strong><%= film_seances_semaine.sum("total_billets") - film_vernoux.sum("total_billets") %></strong></td>
      </tr>
    </tbody>
  <% end %>
  </table>
  <% end %>
</div>
<br>
<center><h2>Les Séances prises en compte</h2></center>
<div class="container">
  <%  @stats.seances_range.each do |seance| %>
  <table class="table table-responsive table-hover table-striped">
    <tbody>
      <tr>
        <td class="active"><%= l seance.horaire, format: :very_long %></td>
        <td class="active"><%= raw seance.film.titrefilm.upcase %> <%= seance.version %></td>
        <td class="warning"><%= seance.extras %> <%= seance.version %> <%= seance.film.classifications.map(&:nom_classification) %> <%= seance.film.distribution %></td>
        <td class="active"><%= seance.village.commune.upcase %> <%= seance.village.salle %></td>
        <td class="info">Projection : <%= seance.projection %> - Caisse : <%= seance.caisse %></td>
        <td class="warning">Adultes = <strong><%= seance.billets_adultes.to_i %></strong> / Enfants = <strong><%= seance.billets_enfants.to_i %></strong><br>
        Scolaires = <strong><%= seance.billets_scolaires.to_i %></strong> / <strong> TOTAL = <%= seance.total_billets.to_i %></strong></td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>
<br>