<% lieu = params[:lieu] %>
<div class="container">
  <div class="actions">
    <%= link_to 'Séances passées en pdf (imprimer)', seances_passees_path(:lieu => params[:lieu], date: @date, :format => :pdf), :format => :pdf, :class => "btn btn-primary btn-lg", :target => "_blank", :rel => "noopener noreferrer" %> <strong>pour <%= lieu.upcase %></strong>
    <br>Attention, pensez à imprimer en "Orientation = Paysage" dans l'onglet : "Mise ne page" avant l'impression.
   </div>
   <div class="actions">
  <%= link_to 'Séances à venir', seances_path(:lieu => params[:lieu]), :class => "btn btn-success btn-lg" %> <strong>pour <%= lieu.upcase %></strong>
 </div>
<% seances_annulees = @seances.seances_passees_1_mois.where(annulee: "Annulée") %>
  <center><h1 id="liste"><strong>Séances passées pour <%= lieu.upcase %> </strong></h1></center>
          <p>Il y a eu <strong><%=  @seances.seances_passees_1_mois.lieuxtest[lieu].count - seances_annulees.count %></strong> séances et <strong><%= seances_annulees.count %></strong> annulée(s) ce mois-ci pour <%= lieu %></p>


  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive table-hover table-striped">
        <thead>
          <tr>
            <th>Date et heure</th>
            <th>FILM</th>
            <th>Lieu</th>
            <th>Projection/Caisse</th>
            <th>Entrées</th>
          </tr>
        </thead>
          <%  @seances.seances_passees_1_mois.lieuxtest[lieu].compact.each do |seance| if seance.horaire < Date.today %>

          <tbody>
            <% if seance.annulee == "Annulée" %>
            <tr>
              <td class="active annule"><span class="glyphicon glyphicon-time"></span> <%= l seance.horaire, format: :very_long %></td>
              <td class="active annule"><span class="glyphicon glyphicon-film"></span> <%= raw seance.film.titrefilm.upcase %> <%= seance.version %></td>
              <td class="active annule"><span class="glyphicon glyphicon-home"></span> <%= seance.village.commune.upcase %> <%= seance.village.salle %></td>
              <td class="info annule"><span class="glyphicon glyphicon-facetime-video"></span> <%= seance.projection %> - <span class="glyphicon glyphicon-briefcase"></span> <%= seance.caisse %></td>
              <td class="warning"> <span class="glyphicon glyphicon-warning-sign"> <%= seance.annulee %></span> <span class="glyphicon glyphicon-pencil"></span> <%= link_to 'Editer', edit_seance_path(seance), :class => "btn btn-warning" %></td>
            </tr>
            <% else %>
            <tr>
              <td class="active"><span class="glyphicon glyphicon-time"></span> <%= l seance.horaire, format: :very_long %></td>
              <td class="active"><span class="glyphicon glyphicon-film"></span> <%= raw seance.film.titrefilm.upcase %><br>
              <%= seance.version if seance.version.present? %> <%= seance.extras if seance.extras.present? %></td>
              <td class="active"><span class="glyphicon glyphicon-home"></span> <%= seance.village.commune.upcase %> <%= seance.village.salle %></td>
              <td class="info"><span class="glyphicon glyphicon-facetime-video"></span> <%= seance.projection %> - <span class="glyphicon glyphicon-briefcase"></span> <%= seance.caisse %><br> <%= link_to 'Editer', edit_seance_path(seance), :class => "btn btn-warning" %></td>
              <% seance.entrees.each do |entree| %>
              <% if seance.entree.present? %>
              <td><%= seance.entree.billet %> <%= seance.entree.nombre %></td>
            <% end %>
            <% end %>
            </tr>
            <tr>
              <td colspan="5" class="separation"></td>
            </tr>
        </tbody>
          <% end %>
        <% end %>
        <% end %>
        <tfoot>
          <tr>
            <th>Date et heure</th>
            <th>FILM</th>
            <th>Lieu</th>
            <% if can? :update, Seance %>
            <th>Projection/Caisse</th>
            <th>Entrées</th>
            <% end %>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<br>
