
<center><h1>Indisponibilités</h1></center>

<div class="container">
<div class="actions">
<%= link_to 'Nouvelle Indisponibilité', new_disponibilite_path, :class => "btn btn-warning" %>
</div>
 <div class="table-responsive">
  <div class="table-row">
    <div class="col-md-12">
        <%= month_calendar events: @disponibilites do |date, disponibilites| %>
        <%= l date, format: :short %>
        <% disponibilites.each do |disponibilite| %>
          <div>
            <p><%= disponibilite.nom %>
            <%= link_to 'modifier', edit_disponibilite_path(disponibilite) %></p>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<br>
<div class="container">
<center><h2>Liste détaillée des absences</h2></center>
<table class="table-responsive">
  <thead>
    <tr>
      <th>Prénom</th>
      <th>Du:</th>
      <th>Au:</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @disponibilites.order(start_time: :asc).each do |disponibilite| %>
      <tr>
        <td><%= disponibilite.nom %></td>
        <td><%= l disponibilite.start_time, format: :very_long %></td>
        <td><%= l disponibilite.end_time, format: :very_long %></td>
        <td><%= link_to 'Voir', disponibilite %></td>
        <td><%= link_to 'Modifier', edit_disponibilite_path(disponibilite) %></td>
        <td><%= link_to 'Suprimer', disponibilite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
