<div class="container">
<center>
<h3>
  <strong>Prénom:</strong>
  <%= @disponibilite.nom %>
</h3>
<h3>Absent</h3>
<h4>
  <strong>Du:</strong>
  <%= l @disponibilite.start_time, format: :middle_long  %>
</h4>

<h4>
  <strong>Au:</strong>
  <%= l @disponibilite.end_time, format: :middle_long %>
</h4>
<%= link_to 'Éditer', edit_disponibilite_path(@disponibilite), :class => "btn btn-warning" %> |
<%= link_to 'Retour liste', disponibilites_path, :class => "btn btn-primary"  %>
</center>
</div>