</center>
<div class="container">
<% if can? :update, User %>
  <center><h1><strong>Liste des utilisateurs</strong></h1></center>
  <br>
  <div class="container">
  <div class="actions hidden-xs">
  <%= link_to 'Bénévoles pdf (imprimer)', users_path(:format => :pdf), :class => "btn btn-primary btn-lg", :target => "_blank", :rel => "noopener noreferrer" %>
 </div>
  <div class="row">
    <div class="col-md-12 table-croped">
      <table class="table table-responsive table-hover table-striped">
        <thead>
          <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <% if can? :update, User %>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Modifier <%= current_user.prenom %></th>
            <% end %>
            <% if can? :manage, User %>
            <th>Role (permissions)</th>
            <th>Editer ou supprimer</th>
            <% end %>
          </tr>
        </thead>
      <% @users.users_alphabet.each do |user| %>
        <tbody>
          <tr>
              <td><%= user.prenom.capitalize %></td>
              <td><%= user.nom.capitalize %></td>
            <% if can? :update, User %>
               <td><%= user.email %></td>
               <td><%= user.telephone %></td>
              <% if user.prenom == current_user.prenom %>
               <td class="warning"><span class="glyphicon glyphicon-pencil"></span> <%= link_to 'Me modifier', edit_user_path(user), data: { confirm: 'En êtes-vous sûr ?' }, :class => "btn btn-warning" %></td>
              <% else %>
               <td></td>
              <% end %>
            <% end %>
              <% if can? :manage, User %>
               <td class="info"><%= user.role %></td>
               <td class="danger"><span class="glyphicon glyphicon-trash"></span> <%= link_to 'Supprimer', user, method: :delete, data: { confirm: 'En êtes vous sûr ?'}, :class => "btn btn-danger" %> <br>
               <span class="glyphicon glyphicon-pencil"> </span> <%= link_to 'Editer', edit_user_path(user), data: { confirm: 'En êtes-vous sûr ?' }, :class => "btn btn-warning" %></td>
              <% end %>
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
  </div>
</div>
<% end %>