<p id="notice"><%= notice %></p>
<center>
<div class="container">
	<div class="description">
	  <strong>Film:</strong>
	  <%= raw @film.titrefilm %>
	  <%=simple_format h @film.description %>
	</div>
<br>
	<%= link_to 'Modifier', edit_film_path(@film), :class => "btn btn-lg btn-danger" %> 
	<%= link_to 'Retour à la liste des Films', films_path, :class => "btn btn-success btn-lg" %>
	<%= link_to 'Créer un nouveau Film', new_film_path, :class => "btn btn-primary btn-lg" %>
	<%= link_to 'Créer une nouvelle seance', new_seance_path, :class => "btn btn-primary btn-lg" %>
</div>
</center>
<br>