<nav class="navbar navbar-inverse navbar-static-top" role = "navigation">
    <%= link_to 'Films', films_a_venir_path, :class => "btn btn-lg navbar-btn" %>
<% if can? :update, Seance %>
  <%= link_to 'Aide', aide_path, :class => "btn btn-lg navbar-btn" %>
  <%= link_to 'Édition Calendriers', edition_calendrier_path(:lieu => "tous les lieux"), :class => "btn btn-lg navbar-btn" %>
  <div class="btn-group">
      <button type="button" class="btn btn-success btn-lg dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Séances
        <span class="caret"></span>
      </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li>
            <%= link_to 'Toutes les séances', seances_path(:lieu => "tous les lieux") %>
          </li>
          <li>
              <%= link_to 'Séances Vernoux', seances_path(:lieu => "vernoux") %>
          </li>
          <li>
            <%= link_to 'Séances Lamastre', seances_path(:lieu => "lamastre") %>
          </li>
          <li>
            <%= link_to 'Séances Chalencon', seances_path(:lieu => "chalencon") %>
          </li>
          <li>
            <%= link_to 'Séances Itinérance', seances_path(:lieu => "itinerance") %>
          </li>
          <li>
            <%= link_to 'Mes Séances', mes_seances_path %>
          </li>
        </ul>
    </div>
      <%= link_to 'Utilisateurs', users_path, :class => "btn btn-lg navbar-btn hidden-xs" %>
      <%= link_to 'Entrees', entrees_path, :class => "btn btn-lg hidden-xs"  %>
      <%= link_to 'Disponibilités', disponibilites_path, :class => "btn btn-lg navbar-btn"  %>
  <% end %>
  <% if can? :manage, Village %>
      <%= link_to 'Villages', villages_path, :class => "btn btn-lg navbar-btn hidden-xs" %>
      <%= link_to 'Classifications', classifications_path, :class => "btn btn-lg hidden-xs"  %>
      <%= link_to 'Administration', rails_admin_path, :class => "btn btn-lg hidden-xs" %>
  <% end %>
</nav>