<!DOCTYPE html>
<html>
  <head>
    <title>PlanningsCinema</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
  <%= render "layouts/connexion" %>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="error"><%= flash[:error] %></p>
    <%= yield %>
  <footer>
    <div class="container">
        Plannings Cinéma 2017 by Rodolphe Robles
    </div>
  </footer>

  </body>
</html>
